.nav-link:hover{
  font-size: 20px;

}
 
/* background.................................................. */
#showcase{
    background: url('./img/laptopman.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-color: black;
    

 }

 /* Text ........................ */
 .showcase-content{
     text-align: center;
     padding-top: 30%;
   
     color: white;
     height: 1000px;  /*background image resize*/
     backdrop-filter: blur(0.5px);
 }
 





 

/* Carousels............................................................................................. */

.carousel-cell:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
     animation: shake 0.5s;
    radius: 10px; */
    
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite 5s;
  } 
  
   @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }  



  .img-fluid{
      width: 100%;
      height: 100%;
      object-fit: cover;

  }

  /* aboutus---------------------------- */

  .card-img {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}
.img-fluid{
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

.mains{
    display: flex;
    margin-top: 100px;
    
} 

.inner-container{
    display: flex;
    border: solid;
    border-radius: 10px;
	
	justify-items: center;
	align-items: center;
}

 .inner-container {
	height: 430px;
	width: 250px;
	padding: 10px;
    margin-left: 100px;
    text-align: center;

	border-radius: 10px;

	-webkit-box-shadow: -1px -1px 14px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px -1px 14px -4px rgba(0, 0, 0, 0.75);
	box-shadow: -1px -1px 14px -4px rgba(0, 0, 0, 0.75);
}
  
  .inner-container{
      background-color:cyan ;
  }
.outer{
    background-color: pink;
}
a:link{ 
  text-decoration: none; 
} 
a { 
  color: white;
  
  
 
} 


/* Animation...................... */
h1{
  color: white;
  transition: all 0.5s ease;
  transition-timing-function: ease-out;
  
  
}
#demo{

    color: white;
    transition: all 0.5s ease;
    transition-timing-function: ease-out;
    
    
  }
  #demo:hover{
    font-size: 50px;
    color:sandybrown;
    letter-spacing: 10px;
    
    
  
  }

h1:hover{
  font-size: 50px;
  color:sandybrown;
  letter-spacing: 10px;
  
  

}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: black;
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
        









